<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>COW Developing</title>
    <link rel="shortcut icon" href="../img/ovni-vaca.svg">
</head>
<body>
  <div class="container bck-1" >
    <div class="row h-100v justify-content-center align-items-center">
      <div class="col-md-4 col-10 col-sm-10 mx-auto">
        <div class="card">
          <div class="card-body">
            <div class="mt-2">
              <img src="../img/LogoTipo.png" alt="logo COW develop" class="w-60 mx-auto img-fluid d-block">
            </div>
            <div class="mt-5">
              <form>
                <div class="form-group my-4">
                  <label class="sr-only" for="txtEmail">Email</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fas fa-user"></i></div>
                    </div>
                    <input type="email" class="form-control text" id="txtEmail" placeholder="Nombre de usuario" required>
                  </div>
                </div>
                <div class="form-group my-4">
                     <label class="sr-only" for="txtEmail">Contraseña</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fas fa-unlock-alt"></i>
                        </div>
                      </div>
                      <input type="password" class="form-control text" id="txtPassword" placeholder="Contraseña" required>
                    </div>
                </div>
                <div class="form-group">
                    <button id="btn-login" class="titles white-text btn btn-warning mx-auto btn-block py-2">ENTRAR</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
    <script src="../js/firebase.js"></script>
    <script src="../js/login.js"></script>
</body>
</html>