<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3; url='../index.html'">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>COW Developing</title>
    <link rel="shortcut icon" href="../img/ovni_amarillo.png">
</head>

<body>
    <div class="container">
        <div class="row h-100v justify-content-center align-items-center">
            <div class="col-md-12 col-lg-8 mx-auto">
                <div>
                    <div class="card-body">
                        <div class="mt-4">
                            <img src="../img/LogoTipo.png" class="mx-auto img-fluid d-block w-40">
                        </div>
                        <header class="my-5 text-center"></header>
                        <div class="mt-2">
                            <img src="../img/gracias2.png" class="mx-auto img-fluid d-block w-80">
                        </div>
                        <div class="mt-5">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>