<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title>CoWorking Visitors</title>
</head>
<body>
<div class="container my-4" >
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="mt-2">
                        <img src="https://dummyimage.com/300x4:3" alt="" class="mx-auto img-fluid d-block">
                    </div>
                    <p class="mt-2 text-center">Regitra tus datos</p>
                    <div class="mt-4">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="user-name" placeholder="Nombre">  
                        </div>
                        <div class="form-group">
                            <input type="email" id="user-email" class="form-control" placeholder ="E-mail" >
                        </div>
                        <div class="form-group">
                                <select  id="user-agency" class="form-control" onchange="getHostList()"> 
                                    <option value="" disabled selected>Elige una agencia</option>
                                </select>
                        </div>
                        <div class="form-group">
                            <select id="user-host" class="form-control">
                                <option value="" disabled selected>Elige un anfitrón</option>
                            </select>
                        </div>
                            <button class="btn btn-warning mx-auto btn-block" id="register-user">Registrar</button>
                    </form>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<script src="../js/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
 <script src="../js/register.js"></script>   
</body>
</html>
