body{
    font-family: 'Raleway', sans-serif; 
}
.no-btn{
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.list-group-item{
    cursor: pointer;
}

.small-text{
    font-size: 14px;
    font-family: 'Raleway', sans-serif; 
}

.little-text{
    font-size: 12px;
    font-family: 'Raleway', sans-serif; 
}

.little-text{
    font-size: 12px;
}

.border-card{
    padding: 20px;
    border: 1px solid #000;
}   

.white-text{
    color: #ffffff;
}

.titles{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

.text{
   font-family: 'Raleway', sans-serif; 
    font-size: 1.2em;
}

.icons-size{
    font-size: 1.5em;
}

.gray-text{
    color: #969292;
}

.btn-warning{
    background-color: #EDC000;
}

.w-3{
    width: 3%;
}
.w-60{
    width: 60%;
}

.h-100v{
    height: 100vh;
}

.bck-1{
    background-image: url('../img/coworking01.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    margin: 0;
    position: absolute;
}

.bg-dark{
    background-color: #0B0B0B!important;
}

.bg-yellow{
    background-color: #EDC000;
}

.bg-green{
    background-color: #358B96;
}

.bg-pink {
    background-color: #E52731;
}

.table td, .table th{
    border-top: 1px solid #e52731;
    border-bottom: 1px solid #e52731;
}

.border-x{
    border-right: 2px solid #358B96;
    border-left: 2px solid #358B96;
    border-top: none;
    border-bottom: none;
}

.border-t{
    border-top: 2px solid #358B96;
}
.border-b{
    border-bottom: 2px solid #358B96;
}